
header.sixteen.columns
	div.header-wrapper
		h1.title .:BrewSys:.


div.three.columns.nav
	button Sessions
	button Recipes
	ul
		li
			a Black bitter ale
		li
			a Vallejo Rauch Porter
		li
			a canton Brewing Saison
		li
			a Canton Brewing Hefeweizen


	button Tools
	button Log
	button Settings



div.nine.columns
	h3 Recipe Formulation
	ul.tabs
		li
			a.active(href='#') Vew
		li
			a(href='#') Edit

	h4 Independence Ale
	p Some notes about the beer here. Some notes about the beer here. Some notes about the beer here. Some notes about the beer here. 


	div.fermentables

		h4 Fermentables
		div.recipe-item 20 lbs. US 2-Row (Malt)
		div.recipe-item 2 lbs. Cara-pils (Malt)

	div.hops
		h4 Hops
		div.recipe-item 1 oz. 60min Saaz
		div.recipe-item 1 oz. 30min Saaz
		div.recipe-item 1 oz. 5min Saaz

	div.yeast
		h4 Yeast
		div.recipe-item 1 oz. 5min Saaz

div.four.columns
	h3 Estimation
	div OG: 1.056
	div FG: 1.056
	div IBU: 1.056
	div SRM: 1.056
	div ABV: 5.5%

div.four.columns
	h3 Style
	div OG: 1.056
	div FG: 1.056
	div IBU: 1.056
	div SRM: 1.056
	div ABV: 5.5%

