.nav button {
	width:100%;
	margin-bottom:5px;
}

h1.title {
	text-align:center;
	border-bottom:1px solid #333;
	margin-bottom:0;
	padding-bottom:5px;
}

.header-wrapper {
	border-bottom:4px solid #ccc;
	margin-bottom:1em;
}

.section {
	border:2px dashed #777;

}

